In [26]:
# export the model
#
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
import joblib
from sklearn.preprocessing import LabelEncoder

In [27]:
# import csvs from github
url_us = "https://raw.githubusercontent.com/James-yeh/Spotify-Rec/main/US.csv"
url_tracks = "https://media.githubusercontent.com/media/James-yeh/Spotify-Rec/main/tracks.csv"
url_datao = "https://raw.githubusercontent.com/James-yeh/Spotify-Rec/main/data_o.csv"
url_dbgo = "https://raw.githubusercontent.com/James-yeh/Spotify-Rec/main/data_by_genres_o.csv"

In [28]:
# tracks = pd.read_csv('tracks.csv')
# data_o = pd.read_csv('data_o.csv')
# genres = pd.read_csv('data_by_genres_o.csv')
# df = pd.read_csv('US.csv')
tracks = pd.read_csv(url_tracks)
data_o = pd.read_csv(url_datao)
genres = pd.read_csv(url_dbgo)
df = pd.read_csv(url_us)
df['release_date'] = pd.to_datetime(df['release_date'])
df.drop(columns=['id','id_artists'],inplace=True)
df['year'] = pd.DatetimeIndex(df['release_date']).year
df.drop(columns=['release_date'],inplace = True)

In [29]:
df

                                      name  popularity  ...  time_signature  year
0                                    Carve           6  ...               3  1922
1      Capítulo 2.16 - Banquero Anarquista           0  ...               1  1922
2       Vivo para Quererte - Remasterizado           0  ...               5  1922
3            El Prisionero - Remasterizado           0  ...               3  1922
4                      Lady of the Evening           0  ...               4  1922
...                                    ...         ...  ...             ...   ...
93130                      Easter In Miami          64  ...               4  2021
93131      Thugged Out (feat. Kodak Black)          71  ...               4  2021
93132                               Créeme           2  ...               4  2021
93133                              Punto G           4  ...               4  2021
93134                     La Vida Continuó           3  ...               4  2021

[93135 rows x 18 columns]

In [30]:
# remove duplicates
print("Origional:", df.shape)
df = df.drop_duplicates()
print("Cleaned:", df.shape)

# store names and remove them
names = df['name']

# label encode artists so It can select similar artists
enc = LabelEncoder()
df['artists'] = enc.fit_transform(df['artists'])

Origional: (93135, 18)
Cleaned: (92767, 18)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [31]:
X = df.drop(columns=['name']).values

In [32]:
neighbors = 20
nn = NearestNeighbors(n_neighbors=neighbors + 1)
nn.fit(X)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=21, p=2,
                 radius=1.0)

In [33]:
# returns the nearest neighbor number of nearest songs given a song object
def song_suggester(song_obj):
    distance, neighbors = nn.kneighbors(np.array([song_obj]))
    suggestions = []
    for i in neighbors[0][1:]:
        suggestions.append([df['name'].iloc[i],df['artists'].iloc[i]])
    return suggestions

In [34]:
def song(name):
    song = 'song'
    try:
        song = song_suggester(X[df['name']==name][0])
    except:
        print("Invalid Name Retard")
    return song

In [35]:
# example for creating sililar songs
# Look at 500 it has interesting insight
example = 29483

print('Song:',df['name'].iloc[example])

suggestions = song_suggester(X[example])
sug = pd.DataFrame(suggestions,columns = ['song','artist'])
sug.head(20)

Song: Lillie

                                      song  artist
0                                     Kelo   13563
1                         Mental Hopscotch   13669
2                             Dint' 'o bar   13618
3                               All I Need   13363
4      If We're Not Back In Love By Monday   13344
5                                Smoke One   13912
6                             Southern Man   13348
7                          Angels Like You   13589
8          Good Morning Little School Girl   13933
9                       Look, Back & Laugh   13637
10  Jo Wada Kiya Woh Nibhana Padega, Pt. 2   13773
11                                   Halah   13243
12                                 Hip Hop   13874
13               Aria Kaspar / Aria Kaspar   13431
14                                   Rouge   13585
15           Skin O' My Teeth - Remastered   13282
16                Raghupati Raghav Rajaram   13664
17                        Beatin' The Odds   13796
18                                 Need It   13487
19          On N'm'a Jamais Parle Comme Ça   13151

In [36]:
# filename = 'NearestNeighbor.sav'
# joblib.dump(nn, filename)

In [37]:
# df.to_csv('data.csv')